.container{
    background-color: white;
    width:500px;
    height:auto;
    margin: 0px auto;
    padding: 20px;
}

.formitems{
    margin: 0px auto;
}

.inputbox{
    width: 80%;
    margin: 50px 0px 0px 45px !important;    
}

.button{
    width: 40%;
    margin: 40px 0px 0px 145px;
}